<body style="background-color:powderblue;">
<form action='/careers' method='POST' id='form1'>
    <input type='text' name='name'>
    <input type='submit' value='Pero mira que buen boton'>
</form>

<button type='submit' form='form1' value='Submit'> Apreta este si te gusta mas </button> 
</br> 
</br>

<%@careers.map do |career|%>
    <li> <a href='careers/<%=career.id%>'> <%=career.name%>: <%=career.surveys.count%> </a> 
    </li>
<%end%> 

