
<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body style="background-color:powderblue;">
    <div>
      <h1>Welcome to our vocational test service webpage!</h1>
      <br>
      <!-- <h2>Please select a test to take:</h2>
      <%@surveys.map do |survey|%>
          <li> <a href='surveys/<%=survey.survey_id%>'> <%=survey.name%> </a>
          </li>
      <%end%> -->
    </div>
    <div>
      <h2>You can start the vocational test right away by submitting your name:</h2>
      <form action='/surveys/start' method='POST'>
        <input type='name', name='name'>
        <input type='submit' value='Submit name'>
      </form>
    </div>
    <br>
    <div>
      <p>Or take a look at what careers you might end up being recommended:
      <a href='/careers'> List of all careers </a>
      </p>
    </div>
    <br>
    <div>
      <p>Agregar una pregunta:
      <a href='/questions'> List of all questions </a>
      </p>
    </div>
  </body>
</html>
