
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/"><img src="images/escudouni.png" alt="UNRC logo">
        <p>Welcome to our vocational test service webpage!</p></a>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <div class="subnav">
            <li><a href="/surveys" class="subnavbtn">Surveys</a></li>
            <div class="subnav-content">
              <a href="/surveys/setdate">Set date</a>
            </div>
          </div>
          <!-- Agregar un sub menu que se diriga a surveys/setdate.erb -->
        </ul>
      </nav>
    </header>
    <section>
        <h3>You can start the vocational test right away by clicking the button below</h3>
        <form id="test" action="start" method="get">
          <button type="submit" id="start-test-button">Start test</button>
        </form>
    </section>
    <br>
    <footer> ©2021 Team 1. All rights reserved.</footer>
  </body>
</html>
