    <li> <%=question.number.to_s%>
    </br>
    </br>Name: <%=question.name%>
    </br>
    </br>How much do you identify with the following statement? (From 1 to 5): 
    </br><%=question.description%>
    </br>
    </br>
    </li>
    <form action='/choices/update' method='POST' id='form1'>
    <input type='range', id="value", name='value', min="1" max="5",step="1"></br>
    <input type="hidden" id="choiceid" name="choice_id" value="<%=question.choice_id%>">
    <input type='submit' value='Submit value'>
</form>
</form>