<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Test</title>
  </head>
  <body >
    <header>
      <div id="logo">
        <a href="/"><img src="images/escudouni.png" alt="UNRC logo">
        <p>Welcome to our vocational test service webpage!</p></a>
      </div>
      <nav class="navigation">
        <ul class="mainmenu">
          <li><a href="/careers">Careers</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/surveys">Surveys</a>
            <ul class="submenu">
              <li><a href="/surveys/setdate">Set date</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      <div>
        <h3><%=questions[it1].description%></h2>
      </div>
      <div>
        <form action='/choices/update' method='POST' id='form1'>
          <input type='range', id="value", name='value', min="0" max="5",step="1">
          <input type="hidden" id="choiceid" name="choice_id" value="<%=questions[it1].choice_id%>">
          <input type="hidden" id="nextid" name="next_id" value="<%=questions[it2].question_id%>">
          <button type="submit">Submit value</button>
        </form>
      </div>
    </section>
    <br>
    <footer id="main footer">© 2021 Team 1. All rights reserved.</footer>
  </body>
</html>
