<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>Vocational Test</title>
  </head>
  <body style="background-color:powderblue;">
    <header id="main header">
      <h1 id="header title"> How much do you identify with the following statement? (From 0 to 5) </h1>
    </header>
    <div>
      <h2 style="color:#3377ff"><%=questions[it1].description%></h2>
    </div>
    <div>
      <form action='/choices/update' method='POST' id='form1'>
        <input type='range', id="value", name='value', min="0" max="5",step="1">
        <input type="hidden" id="choiceid" name="choice_id" value="<%=questions[it1].choice_id%>">
        <input type="hidden" id="nextid" name="next_id" value="<%=questions[it2].question_id%>">
        <input type='submit' value='Submit value'>
      </form>
    </div>
    <br>
    <footer id="main footer">© 2021 team 1. All rights reserved.</footer>
  </body>
</html>
