* {
  color: #ffffff;
}

body{
    background: #070e38;
}
header h1{
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
}

nav ul{
  list-style: none;
  text-align: center;
  padding: 0px;
  background: #343463;
}

#fondo{
  background: #343463;
  margin: 0px auto;
  width: 400px;
  border-radius: 15px;
  padding: 0.3px;
  border-bottom: 1px solid #000015;
  border-right: 1px solid #000015
}

nav ul li{
  padding: 0px 5px;
  background:#343463;
  display: inline-block;
}

nav ul #left{
  display: inline-block;
  margin-right: 30px;
}
nav ul #right{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  background: #343463;
}
section{
  margin-top: 50px;
  text-align: center;
}
button{
  color: #070e38;
}
footer{
  text-align: center;
}
