<!DOCTYPE html>
<html lang="en">
<head>
    <title>Set Date</title>
</head>
<body>
    <form action="" method="post">
        <label for="start">Start date:</label>
        <input type="date" id="start" name="start_date"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
    
        <label for="finish">Finish date:</label>
        <input type="date" id="start" name="finish_date"
            value="2018-07-22"
            min="2018-01-01" max="2018-12-31">
    </form>
</body>
</html>