<!DOCTYPE html>
<html>
  <head>
    <title>Description</title>
  </head>
  <body style="background-color:powderblue;">
    <div>
      <h1> Test taken by <%=survey.name%>: </h1>
      <ul>
        <li> id: <%=survey.survey_id%></li>
        <li> CAREER WAS NOT DETERMINED (test might have been quitted halfway)</li>
      </ul>
    </div>
    <div>
      <form action="<%=survey.survey_id%>/delete" method="post">
        <input type="hidden" name="id" value=<%=survey.survey_id%>>
        <button type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>
