<body style="background-color:powderblue;">
<h1 style="font-size:130%;color:#003399;"> Available tests: </h1>

<%@surveys.map do |survey|%>
    <li> <a href='surveys/<%=survey.survey_id%>'> <%=survey.name%></a> 
    </li>
<%end%> 
</br></br>
<h1 style="font-size:100%;color:red;"> Add survey (For admins only): </h1>

<form action='/surveys' method='POST' id='form1'>
	<label for="sname">Survey name:</label><br>
    <input type='text', id="sname", name='name'>
    <input type='submit' value='Submit survey'>
</form>

