<!DOCTYPE html>
<html>
  <head>
    <title>List of surveys</title>
  </head>
  <body style="background-color:powderblue;">
    <div>
      <h1> Survey list: </h1>
      <%@surveys.map do |survey|%>
      <li>
        <a href='surveys/<%=survey.survey_id%>'> <%=survey.name%>: <%=survey.survey_id%></a>
      </li>
      <%end%>
    </div>
  </body>
</html>
