<!DOCTYPE html>
<html>
  <head>
    <title>Question</title>
  </head>
  <body style="background-color:powderblue;">
    <div>
      <table border="1">
        <h2 style="color:#003399;"> Question list: </h2>
        <p>Click to Modify how this question affects career choice</p>
        <tr>
          <th>Question ID</th>
          <th>Question text</th>
        </tr>
        <%@questions.map do |question|%>
        <tr>
          <th><%=question.question_id%></th>
          <th><a href='questions/<%=question.question_id%>/outcomes'> <%=question.description%> </a></th>
        </tr>
        <%end%>
      </table>

    </div>
    <br>
    <div>
      <h3 style="color:red;"> (Admin Only) Add a new question to the test: </h3>
      <form action='/questions' method='POST' id='form1'>
        <label for="qdesc">Question description:</label>
        <input type='text', id="qdesc", name='description' required>
        <input type='submit' value='Submit question'>
      </form>
      <br>
      <br>
      <form action="/" method="get">
        <button type="submit" name="Back">Back to homepage</button>
      </form>
    </div>
  </body>
</html>
