<!DOCTYPE html>
<html>
  <head>
    <title>Question</title>
  </head>
  <body style="background-color:powderblue;">
    <div>
      <h1 style="color:#003399;"> Question list: </h1>
      <%@questions.map do |question|%>
        <li>
          <a href='questions/<%=question.question_id%>'> <%=question.name%> </a>
        </li>
      <%end%>
    </div>
    <br>
    <div>
      <h3 style="color:red;"> (Admin Only) Add a new question to the test: </h3>
      <form action='/questions' method='POST' id='form1'>
        <ul>
          <li>
            <label for="qname">Question name:</label>
            <input type='text', id="qname", name='name'>
          </li>
          <li>
            <label for="qdesc">Question description:</label>
            <input type='text', id="qdesc", name='description'>
          </li>
          <li>
            <label for="qnumber">Question number:</label><br>
            <input type='number', id="qnumber", name='number'><br>
          </li>
        </ul>
        <input type='submit' value='Submit question'>
      </form>
    </div>
  </body>
</html>
