<!DOCTYPE html>
<html>
  <head>
    <title>Question</title>
  </head>
  <body style="background-color:powderblue;">
    <div>
      <h1 style="color:#003399;"> Question list: </h1>
      <%@questions.map do |question|%>
        <li>
          <a href='questions/<%=question.question_id%>'> <%=question.description%> </a>
        </li>
      <%end%>
    </div>
    <br>
    <div>
      <h3 style="color:red;"> (Admin Only) Add a new question to the test: </h3>
      <form action='/questions' method='POST' id='form1'>
        <label for="qdesc">Question description:</label>
        <input type='text', id="qdesc", name='description'>
        <input type='submit' value='Submit question'>
      </form>
      <form action="/" method="get">
        <button type="submit" name="Back">Back to homepage</button>
      </form>
    </div>
  </body>
</html>
